.Title {
	text-align: center;
	margin-top: 90px;
}
.Title h1 {
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
	font-weight: bold;
}
@media (max-width: 600px) {
	.Title h1 {
		font-size: 30px;
	}
}
